<link rel="stylesheet" type="text/css" href="/css/index.css">
<h1>{{title}}</h1>
<h3>{{title}}</h3>
<p>Welcome to {{title}}</p>
<a href="https://getbootstrap.com/">hahjah</a>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid esse quibusdam modi sit velit voluptas cumque consequuntur repudiandae eius ratione voluptate illo natus nisi, eaque repellat incidunt quasi reiciendis.</p>

<ul>
  {{#each articles }}
  <li><a href="/article/{{ id }}">{{ summary }}</a></li>
  {{/each}}
</ul>